
/frontend/node_modules/
/frontend/ios
/frontend/android

/frontend/.expo/
/frontend/dist/
/frontend/web-build/
/frontend/expo-env.d.ts

/frontend/*.orig.*
/frontend/*.jks
/frontend/*.p8
/frontend/*.p12
/frontend/*.key
/frontend/*.mobileprovision

/frontend/.metro-health-check*

/frontend/npm-debug.*
/frontend/yarn-debug.*
/frontend/yarn-error.*

.DS_Store
*.pem

.env*.local
.env

/frontend/*.tsbuildinfo
/frontend/app-example

/backend/*.env
/backend/tmp/
/backend/*.exe
/backend/*.test
/backend/*.out
/frontend/CLAUDE.md
